<ion-header>
  <ion-toolbar>
    <ion-title>Users list:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="buttons">
    <ion-button  color="primary">Apply filter</ion-button>
    <ion-button  color="primary">Create new User</ion-button>
  </div>

  <ion-button size="full" color="primary" (click)="showHideF()">show / hide filters</ion-button>
  <ion-list >
    <ion-item *ngFor="let tag of tags">
      <ion-label>{{tag.name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="tag.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">      
    </ion-refresher-content>
  </ion-refresher>

  <app-user *ngFor="let user of users" [user]="user"></app-user>

</ion-content>
<ion-footer no-shadow>
  <ion-button size="full" color="primary" [routerLink]="['/pathfromto']" routerLinkActive="router-link-active">Go to geolocation test</ion-button>
</ion-footer>